<div class="card">
  <div class="card-header">
    <div class="card-title">
      <a href="/search/id/{{id}}">{{movie_title}}</a>
    </div>
    <div class="card-subtitle">
      {{release_date}}
    </div>
  </div>
  <div class="card-body">
    {{#if movie_poster}}
    <img src="{{movie_poster}}">
    {{/if}}
    <h6>Director: {{director}}</h6>
    <h6>Writers: {{writers}}</h6>
    <h6>Actors: {{actors}}</h6>
    <h6>Genre: {{genre}}</h6>
    <h6>Plot: {{movie_plot}}</h6>
  </div>
  <div class="card-footer">
    <a href="#"></a>
  </div>
</div>