<div class="container">
  <div class="row">
    <div class="card col col-12 border-0">
      <div class="card-body">
        <div class="row">
          <div class="col col-12 col-lg-2 col-sm-12 col-md-2">
            {{#if (isNotNA Poster)}}
              <a class="card-title" href="/search/id/{{imdbID}}">
                <img class="poster" src="{{Poster}}" />
              </a>
            {{/if}}
          </div>
          <div class="col col-12 col-lg-10 col-sm-12 col-md-10">
            <div class="card-header">
              <a class="card-title" href="/search/id/{{imdbID}}"><h3
                >{{Title}}</h3></a>
              <div class="card-subtitle">
                {{Year}}
              </div>
              <p>
                {{Plot}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>